:root {
  --background-color-default: black;
  --background-color-primary: #062d14;
  --color-text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-default);
  color: var(--color-text);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link:hover {
  text-decoration: underline;
}

.main {
  border-radius: 15px;
  padding: 20px;
  margin: 0px 10px 10px;
  flex: 1;
  background-image: linear-gradient(to bottom, var(--background-color-primary), var(--background-color-default));
}

.main__texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__link:hover {
  text-decoration: underline;
}